# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Datos (opcional: descomenta si no quieres subir datos crudos/procesados)
# data/raw/*
# data/processed/*
# !data/raw/.gitkeep
# !data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Entorno / configuración local
.env

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
